.element__wrapper {
  padding: var(--padding-top, 0) 0 var(--padding-bottom, 0) 0;

  &--normal-width {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: $builder-page-max-width;
  }

  &--full-width {
    max-width: 100%;
  }

  &--medium-width {
    max-width: 960px;
  }

  &--small-width {
    max-width: 680px;
  }
}

.element {
  // this is a placeholder, the class will be added to every element component.
}

.element--no-value {
  opacity: 0.3;
}

.element--alignment-vertical-top {
  align-items: start;
}

.element--alignment-vertical-center {
  align-items: center;
}

.element--alignment-vertical-bottom {
  align-items: end;
}

.element--alignment-horizontal-left {
  justify-content: start;
}

.element--alignment-horizontal-center {
  justify-content: center;
}

.element--alignment-horizontal-right {
  justify-content: end;
}
