.alert {
  display: flex;
  padding: 16px;
  margin: 30px 0;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 12px;
  z-index: $z-index-toasts;
  border: 1px solid $palette-neutral-400;
  background: $color-neutral-50;
  @include rounded($rounded-md);
  @include add-elevation($elevation-low);
}

.alert--with-shadow {
  @include add-elevation($elevation-medium);
}

.alert--minimal {
  white-space: normal;
  margin: 16px 0;
  padding: 14px;
  width: inherit;
}

.alert__icon {
  font-size: 18px;
  flex: 0 1 auto;
}

.alert__icon-loading {
  margin: 0 auto 0 auto;
}

.alert__title {
  font-weight: 500;
  line-height: 20px;
  font-size: 13px;
  margin-bottom: 4px;
}

.alert__content {
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
  font-size: 12px;

  p {
    margin: 0;
  }
}

.alert__close {
  background: none;
  width: 16px;
  height: 16px;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  flex: 0 1 auto;
  cursor: pointer;
  color: $palette-neutral-800;
  margin-left: auto;

  &:hover {
    color: $palette-neutral-900;
  }
}

.alert--success {
  @include alert-style(
    $palette-green-50,
    $palette-green-200,
    $palette-green-900,
    $palette-green-800,
    $palette-green-400,
    $palette-green-1000
  );
}

.alert--warning {
  @include alert-style(
    $palette-yellow-50,
    $palette-yellow-200,
    $palette-yellow-900,
    $palette-yellow-800,
    $palette-yellow-400,
    $palette-yellow-1000
  );
}

.alert--error {
  @include alert-style(
    $palette-red-50,
    $palette-red-200,
    $palette-red-900,
    $palette-red-800,
    $palette-red-400,
    $palette-red-1000
  );
}
